using System.Collections;
using System.Collections.Generic;
using UnityEngine;

public class config : MonoBehaviour
{
    private const string GLOBALSTATS_API_ID = "";
    private const string GLOBALSTATS_API_SECRET = "";

    public static string getId()
    {
        return GLOBALSTATS_API_ID;
    }

    public static string getSecret()
    {
        return GLOBALSTATS_API_SECRET;
    }
}
